@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(imagens/background6.png); 
    display: flex;
    justify-content: center;
    background-size: cover;
    min-height: 100vh;
}

.portfolio {
    width: 70%;
    background-image: url(imagens/background6.png); 
    display: flex;
    flex-direction: row;
}

.left-column {
    width: 40%; 
    background-image: url(imagens/background1.png); 
    background-size: cover;
    padding: 10px;
}

.left-column img {
    width: 100%;
    border-radius: 50%;
    border: 2px solid #ffffff; /
}

.right-column {
    background-image: url(imagens/background4.png); 
    background-size: cover;
    width: 70%; 
    padding: 10px;
}

h1 {
    font-family: 'Codystar', cursive;
    font-family: 'Gamja Flower', cursive;
    font-family: 'Kenia', cursive;
    font-family: 'Red Rose', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-top: 10px;
}

.name {
    font-family: 'Codystar', cursive;
    font-family: 'Gamja Flower', cursive;
    font-family: 'Kenia', cursive;
    font-family: 'Red Rose', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    margin-top: 10px;
}

h2 {
    font-size: 20px;
    margin-top: 20px;
}

p {
    font-size: 16px;
    margin: 5px 0;
}
