@charset "UTF-8";

body {
    background-image: url(imagens/background114.png); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;  
}

.portfolio {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinhe as colunas no início da tela */
    height: 100vh;
}

.left-column {
    width: 30%; /* A coluna esquerda ocupa 30% da largura da tela */
    height: 204.7vh;
    box-sizing: border-box; /* Evita problemas de largura */
    background-image: url(imagens/background-projeto-final2.png);
    background-repeat: no-repeat;
    color: black;
    background-size: 100% 100%;
    padding: 10px;
    border: 3px solid white;
}

.right-column {
    width: 50%; /* A coluna direita ocupa 40% da largura da tela */
    box-sizing: border-box; /* Evita problemas de largura */
    height: 204.7vh;
    background-image: url(imagens/background-projeto-final2.png);
    background-repeat: no-repeat;
    color: black;
    background-size: 100% 100%;
    padding: 10px;
    border: 3px solid white;
}


.left-column img {
    width: 100%;
    border-radius: 50%;
    border: 2px solid #ffffff;
}


h1 {
    font-family: 'Codystar', cursive;
    font-family: 'Gamja Flower', cursive;
    font-family: 'Kenia', cursive;
    font-family: 'Red Rose', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-top: 10px;
}

.name {
    font-family: 'Codystar', cursive;
    font-family: 'Gamja Flower', cursive;
    font-family: 'Kenia', cursive;
    font-family: 'Red Rose', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    margin-top: 10px;
    text-align: center;
}

h2 {
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    margin-top: 20px;
}

h3 {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    margin-top: 20px;
}

p {
    font-family: 'Arimo', sans-serif;
    font-style: oblique;
    font-size: 16px;
    margin: 5px 0;
}

.tabela {
    background-image: url(imagens/background-left-right.png);
    background-color: antiquewhite;
    border-radius: 30px;
    border: 2px solid #ffffff;
    padding: 2%;
    margin-left: 20px;
}

.tabela-titulo {
    text-align: center;
    padding-right: 60px;
}


table td {
    padding-left: 20px;
}


a:visited {
    color: rgb(0, 0, 0);
}

@media (max-width: 768px) {
    .left-column, .right-column {
        width: 100%; /* Ambas as colunas ocupam 100% da largura da tela no celular */
        box-sizing: border-box; /* Evita problemas de largura */
        background-color: transparent; /* Defina o fundo como transparente no celular */
        padding: 10px;
        border: 3px solid white;
        text-align: center;
    }
}

img {
    max-width: 100%;
    height: auto;
    left: auto;
}


