@charset "UTF-8";

body {
    background-image: url(imagens/background114.png); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;  
}

.portfolio {
    display: flex;
    justify-content: center; 
    height: 100vh; 
}

.left-column {
    width: 400px; 
    height: 1280px; 
    margin-top: auto;
    background-image: url(imagens/background-left-right2.jpg);
    background-repeat: no-repeat;

    background-size: 100% 100%;
    padding: 10px;
    border: 3px solid white;
}

.right-column {
    width: 650px; 
    height: 1280px; 
    margin-top: auto;
    background-image: url(imagens/background-left-right2.jpg);
    background-repeat: no-repeat;
    
    background-size: 100% 100%;
    padding: 10px;
    border: 3px solid white;
}


.left-column img {
    width: 100%;
    border-radius: 50%;
    border: 2px solid #ffffff;
}


h1 {
    font-family: 'Codystar', cursive;
    font-family: 'Gamja Flower', cursive;
    font-family: 'Kenia', cursive;
    font-family: 'Red Rose', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-top: 10px;
}

.name {
    font-family: 'Codystar', cursive;
    font-family: 'Gamja Flower', cursive;
    font-family: 'Kenia', cursive;
    font-family: 'Red Rose', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    margin-top: 10px;
    text-align: center;
}

h2 {
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    margin-top: 20px;
}

h3 {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    margin-top: 20px;
}

p {
    font-family: 'Arimo', sans-serif;
    font-style: oblique;
    font-size: 16px;
    margin: 5px 0;
}
